<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{% capture resource_title %}{{ title | strip_html | strip_newlines }}{% endcapture %}
<title>
    {% if resource_title != "Index" %}
        {{ resource_title | escape }} | {{ metadata.title | escape }}
    {% else %}
        {{ metadata.title | escape }}
    {% endif %}</title>

<meta name="description" content="{{ metadata.description }}"/>

<link rel="stylesheet" href="{% asset_path css %}"/>
<script src="{% asset_path js %}" defer></script>

{% if bridgetown.environment == "production" %}
  <!-- Cloudflare Web Analytics -->
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "5f44ce576b3847d582568233c5898bb7"}'></script>
  <!-- End Cloudflare Web Analytics -->
{% endif %}

{% live_reload_dev_js %}